@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.extCard {
  padding: $spacing250;
  background-color: var(--ext-card-bg);
  border-radius: $radius20;
  box-shadow: 0px 2px 2px 0px rgba(194, 206, 225, 0.21),
    0px 1px 5px 1px rgba(194, 206, 225, 0.21);

  &__content {
    display: flex;
    align-items: flex-start;
    gap: $spacing200;
    margin-bottom: $spacing300;

    &-text {
      display: flex;
      flex-direction: column;
      gap: $spacing100;
    }

    &--name {
      @extend .text-preset-2;
    }

    &--description {
      @extend .text-preset-5;
    }
  }

  &__buttons {
    display: flex;
    // background: #000;
    justify-content: space-between;
    align-items: center;

    button {
      @extend .text-preset-6;
      color: var(--ext-card-btn-txt);
      padding: $spacing100 $spacing200;
      border: none;
      border-radius: $radiusFull;
      background: transparent;
      border: 1px solid var(--ext-card-btn-brdr);
    }

    &--toggle {
      display: none;
    }
  }
}

.toggle {
  position: relative;
  height: 1.25rem;
  width: 2.25rem;
  background: $neutral300;
  border-radius: $radiusFull;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: $neutral0;
    border-radius: $radiusFull;
    top: 2px;
    left: 2px;
    transition: all 0.25s ease-out;
    box-shadow:  0px 1px 3px 0px rgba(10, 13, 18, 0.3);
  }
}

.extCard__buttons--toggle:checked + .toggle {
  background-color: $red700;
}

.extCard__buttons--toggle:checked + .toggle::after {
  transform: translateX(1rem);

}