@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;

.themeToggle {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--toggle-container);
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 0px 2px 3px -2px #D9E5F4;
    border-radius: $radius10;
  }

  &__toggle {
    padding: 0.75rem;
    background: var(--toggle-bg);
    border-radius: $radius12;
  }
}


//TODO: STYLE TOGGLE BUTTON 
// TODO: HOOK UP THEME SWITCHING CAPABILITY
  //TODO: IMPLEMENT DARK THEME STYLES
  // TODO: CREATE STATE FOR THEME
  // TODO: HOOK UP USELOCALSTORAGE 