@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;

.themeToggle {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--toggle-container);
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: var(--toggle-container-bs);
    border-radius: $radius10;
  }

  &__toggle {
    background: var(--toggle-bg);
    border-radius: $radius12;
    height: 3.125rem;
    width: 3.125rem;
    position: relative;
    cursor: pointer;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}

.toggleBtn {
  appearance: none;
}

.logo-icon {
  fill: var(--logo-icon);
}

.logo-text {
  fill: var(--logo-text);
}

//TODO: STYLE TOGGLE BUTTON
// TODO: HOOK UP THEME SWITCHING CAPABILITY
//TODO: IMPLEMENT DARK THEME STYLES
// TODO: CREATE STATE FOR THEME
// TODO: HOOK UP USELOCALSTORAGE
