@use "./styles/partials/globals" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;


.app {
  min-height: 100vh;
  background: var(--background);
  padding: $spacing250 $spacing200;

  @include tablet {
    padding: $spacing300 $spacing400;
  }

  @include desktop {
    padding: $spacing500 8.43rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing500;
    gap: $spacing300;
    

    @include tablet {
      margin-top: $spacing800;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    @extend .text-preset-1;
    text-align: center;

    
  }

  &__filters {
    display: flex;
    gap: $spacing150;
    &-button {
      @extend .text-preset-3;
      background: var(--button-bg);
      padding: $spacing100 $spacing250;
      border: 1px solid var(--filter-button-brdr);
      border-radius: $radiusFull;
      cursor: pointer;
      box-shadow:var(--filter-button-bs);
      transition: all 0.15s ease-in-out;

      &:hover {
        background: var(--button-hvr)
      }

      &:active {
        border: 1px solid 
      }

      &--selected {
        @extend .text-preset-4;
        background: var(--selected-button);
        border: 1px solid transparent;
        opacity: 1;

        &:hover {
          background: var(--selected-button);
        }
      }
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: $spacing150;
    margin-top: $spacing500;
    align-items: stretch;
    @include tablet {
      margin-top: $spacing400;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
